{% extends 'base/base.html' %} {% block container %} {% load static %}


    {% include 'include/header.html' %}

    </section>  <!--header-end-->
  <section id="category">
    <section class="wrapper">

        <h1>Table</h1>
        
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                 
                </tr>
            </thead>
            <tbody>
                {% for category in categorys %}

                <tr align="center">
                    <td>{{category.name}}</td>
                    <td><img src="{{category.image.url}}" alt="" width="100px"></td>
                    <td>
                        <a href="{% url 'manager:category_edit' id=category.id %}" class="edit">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'manager:category_del' id=category.id %}" class="delete">Delete</a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
  </section>

  {% endblock %}
